<div class="jumbotron">
    <h3><%= @publication.name %></h3>

    <%= link_to image_tag(@publication.image.url(:large), alt: @publication.name), @publication.website %>

    <div class="row"><div class="col-xs-12">
        <%= @publication.description.html_safe %>
    </div></div>
</div>

<div class="list-group">
    <% if @publication.offers.empty? then %>
       <button type="button" class="list-group-item list-group-item-warning">
           Not presently available as part of any current offer
       </button>
    <% else %>
        <button type="button" class="list-group-item list-group-item-info">Available with these offers</button>
        <% @publication.offers.each do |offer| %>
        <%= link_to offer.name, offer_path(offer), class: 'list-group-item' %>
        <% end %>
    <% end %>
</div>
