<h3><%= @publication.name %></h3>

<%= link_to image_tag(@publication.image.url, alt: @publication.name), @publication.website %>

<div><%= @publication.description.html_safe %></div>

<div><strong>Offers:</strong>
	<% if @publication.offers.empty? then %>
		<p>None</p>
	<% else %>
		<ul>
			<% @publication.offers.each do |offer| %>
			<li><%= link_to offer.name, offer_path(offer) %></li>
			<% end %>
		</ul>
	<% end %>
</div>
