<h3>Editing profile</h3>

<div class="row"><div class="col-sm-6"><%= render 'form' %></div></div>

<%= link_to profile_path do %>
  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&ensp;Show
<% end %>
