<h3>Customers</h3>

<div class="list-group">
    <% @customers.each do |customer| %>
      <%= link_to customer.name, customer, class: 'list-group-item' %>
    <% end %>
</ul>

<br>

<%= link_to 'New Customer', new_customer_path %>
