<p id="notice"><%= notice %></p>

<h1>Offers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Expires</th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= link_to offer.name, offer %></td>
        <td><%= offer.expires %></td>
      </tr>
    <% end %>
  </tbody>
</table>
