<p id="notice"><%= notice %></p>

<h1>Campaigns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start</th>
      <th>Finish</th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= link_to campaign.name, campaign %></td>
        <td><%= campaign.start %></td>
        <td><%= campaign.finish %></td>
      </tr>
    <% end %>
  </tbody>
</table>
