<h3>Campaigns</h3>

<ul>
	<% @campaigns.each do |campaign| %>
	    <li>
	    	<%= link_to campaign.name, campaign %>
	    	<%= " (ends #{campaign.finish})" if campaign.finish %>
	    </li>
    <% end %>
</ul>
