<h3>Campaigns</h3>

<div class="list-group">
    <% @campaigns.each do |campaign| %>
        <% text = campaign.name %>
        <% text += " (ends #{I18n.l campaign.finish, format: :long})" if campaign.finish %>
        <%= link_to text.html_safe, campaign, class: 'list-group-item' %>
    <% end %>
</div>
