<div class="jumbotron">
    <h3><%= @campaign.name %></h3>

    <% if @campaign.finish then %>
        <div><strong>End date:</strong> <%= I18n.l @campaign.finish, format: :long %></div>
    <% end %>

    <div class="row"><div class="col-xs-12">
        <%= @campaign.description.html_safe %>
    </div></div>
</div>

<% if @campaign.offers.present? then %>
    <div class="list-group">
    	<% @campaign.offers.each do |offer| %>
        <%= link_to offer.name, offer_path(offer), class: 'list-group-item' %>
	    <% end %>
	</div>
<% end %>
