// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

// Show Publication API key regeneration button inline
#edit_publication_1 {
  display: inline-block;
  margin-left: 2em;
  vertical-align: middle;
  .actions { margin: 0; padding: 0; }
}

// Show radio buttons horizontally
.formtastic fieldset > ol > li.radio fieldset ol li {
  margin: 0.1em 0.5em 0.5em 0;
  display: inline-block;
}

.mce-tinymce { margin-top: 2em !important }

.row-transactions {
  table { max-width: 45em; }
  .col-amount { max-width: 10em; }
}
