// Place all the styles related to the offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-price {
  white-space: normal;
  height: 14ex;
  width: 18em;
  margin: 1ex 5px;
}

.price-desc { font-size: 90%; }
.price-name { font-size: larger; }

.stock-warning { color: red }
