<p>Welcome <%= @name %>!</p>

<p>Please confirm your account email <%= @email %> using the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
