<div class="jumbotron">
    <h3><%= @product.name %></h3>

    <%= image_tag @product.image.url(:large), alt: @product.name %>

    <div class="row"><div class="col-xs-12">
        <%= @product.description.html_safe %>
    </div></div>
</div>

<div><strong>Offers:</strong>
	<% if @product.offers.empty? then %>
		<p>None</p>
	<% else %>
		<ul>
			<% @product.offers.each do |offer| %>
			<li><%= link_to offer.name, offer_path(offer) %></li>
			<% end %>
		</ul>
	<% end %>
</div>
