<div class="jumbotron">
    <h3><%= @product.name %></h3>

    <%= image_tag @product.image.url(:large), alt: @product.name %>

    <div class="row"><div class="col-xs-12">
        <%= @product.description.html_safe %>
    </div></div>
</div>

<div class="list-group">
    <% if @product.offers.empty? then %>
	   <button type="button" class="list-group-item list-group-item-warning">
	       Not presently available as part of any current offer
	   </button>
    <% else %>
        <button type="button" class="list-group-item list-group-item-info">Available with these offers</button>
		<% @product.offers.each do |offer| %>
        <%= link_to offer.name, offer_path(offer), class: 'list-group-item' %>
		<% end %>
    <% end %>
</div>
